@model RaspberryEditViewModel

<form asp-controller="Raspberry" asp-action="SaveRaspberryChange" method="post">
    <div class="form-group">


        <input type="hidden" asp-for="RaspberryId" id="RaspberryId" />
        <label for="Location"><Br />Location</label>
        <input type="text" class="form-control" id="Location" asp-for="Location" />
        <label for="Name"><Br />Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" />
        <label for="IPadress"><Br />Ip Adress</label>
        <input type="text" class="form-control" id="IPadress" asp-for="IPadress" />


    </div>

    <button type="submit" class="btn btn-info">Edit</button>


    <div asp-validation-summary="All" class="text-danger"></div>

    <form class="m-1 p-1" method="post">
    </form>

    <style>
        .input-validation-error {
            border-color: red;
        }
    </style>
</form>